.pytest_cache
*__pycache__
build
dist
src/cbadc.egg-info
docs/build
.coverage
*.DS_Store
.tox
._profile_simulator_stats.txt
docs/code_examples/a_getting_started/sinusodial_simulation.dat
docs/._make.bat
jupyter
*.pyc
unittest.h
benchmark_*.svg
docs/source/backreferences
docs/source/api/autosummary
*.xls
