.pytest_cache
*__pycache__
build
dist
src/cbadc.egg-info
docs/build
.coverage
*.DS_Store
.tox
._profile_simulator_stats.txt
docs/code_examples/a_getting_started/sinusodial_simulation.dat
docs/._make.bat
jupyter
*.pyc
unittest.h
benchmark_*.svg
docs/source/backreferences
docs/source/api/autosummary
*.xls
FIR_filter_C_header_with_fixed_point.h
FIR_filter_C_header.h
profile_full_system_stats
pytest-doctests.xml
pytest-doctests.xml
tests/performance_validation/.prof_stats
tests/performance_validation/digital_estimator_filter_coefficients_numpy.prof
tests/performance_validation/digital_estimator_filter_coefficients_numpy.txt
tests/profiling/.prof_stats
tests/profiling/profiling_stats.prof
tests/profiling/profiling_stats.txt
tests/cadence_validation/simulation_output/
verilog_testbench.txt.tran.srf
debug_time.png
debug_psd.png
tests/cadence_validation/verilog_testbench.txt
tests/cadence_validation/spectre_sim.log
tests/cadence_validation/analog_frontend.vams
tests/cadence_validation/.cadence/
