include requirements.txt
include README.md
include src/cbc/*.pyx
include src/cbc/*.pxd
include src/cbc/parallel_digital_estimator/*.pyx
include src/cbc/parallel_digital_estimator/*.pxd
include src/cbc/parallel_digital_estimator/*.h
include src/cbc/parallel_digital_estimator/*.cpp