numpy >= 1.21.5
scipy >= 1.8.0
tqdm >= 4.61.0
requests >= 2.25.1
pytest
pytest-benchmark
pytest-cov
tox
typing-extensions
flake8
pylint
pandas >= 1.4.1
jinja2 >= 3
matplotlib >= 3.5.1
xlrd >= 1.0.0
sympy >= 1.9
mpmath >= 1.1
pre-commit >= 2.17.0
Pillow >= 9.1.1
pyarrow >= 8.0.0
