{% include 'comment.cir.j2' %}
{{ instance_name }} {{ terminals[0] }} {{ terminals[1] }} SIN({{ offset }} {{ amplitude }} {{ frequency }} {{ delay }} {{ damping_factor }} {{ phase }}) DC 0.0 AC {{ ac_gain }}