{% include 'comment.cir.j2' %}
V{{ instance_name }} {{ terminals[0] }} {{ terminals[1] }} vsource type=pulse val0={{ val0 }} val1={{ val1 }} period={{ period }} delay={{ delay_time }} rise={{ rise_time }} fall={{ fall_time }} width={{ pulse_width }} phase={{ phase }} 