{% include 'comment.cir.j2' %}
{{ instance_name }} {{ terminals[0] }} {{ terminals[1] }} PULSE({{ val0 }} {{ val1 }} {{ delay_time }} {{ rise_time }} {{ fall_time }} {{ pulse_width }} {{ period }}) DC 0.0